{% assign c = "c-latest-blog" %}

<section class="{{c}}">
	<div class="container">
		<h2 class="{{c}}__title">
			{% if include.title and include.title != "" %}
				{{ include.title }}
			{% else %}
				Latest
			{% endif %}
		</h2>

		<div class="row" 
			 data-pagebreak="6">
			{% for post in site.posts %}
				<div class="col-md-4">
					<div class="{{c}}__blog-post">
						<div class="{{c}}__image-wrapper">
							<a href="{{ post.permalink }}">
								<div class="{{c}}__post-image" 
									 style="background-image: url('{{ post.image }}');">
								</div>
							</a>
						</div>

						<div class="{{c}}__post-content">
							{% if include.show_post_tags %}
								<p class="{{c}}__post-tags">{{ post.tags }}</p>
							{% endif %}

							<h6 class="latest-posts-title">
								<a href="{{ post.permalink }}">
									{{ post.title }}
								</a>
							</h6>

							{% if include.show_post_date %}
								<p class="{{c}}__post-date">{{ post.date | date_to_string }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="text-center">
			<a class="btn button-standard" href="" data-pagebreak-control="prev">Previous</a>
			<a class="btn button-standard" href="" data-pagebreak-control="next">Next</a>
		</div>
	</div>
</section>
