.c-featured-blog-post {
	padding: 50px 0;

	&__content-column {
		margin-bottom: 35px;

		@media screen and (min-width: 768px) and (max-width: 991px) {
			text-align: center;
		}

		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}
	&__feature-blog-title {
		h2 {
			margin-bottom: 25px;
			font-weight: 600;

			@media screen and (max-width: 991px) {
				font-size: 40px;
			}
		}
	}

	&__feature-blog-description {
		p {
			font-size: 18px;
			margin-bottom: 30px;
			line-height: 32px;

			@media screen and (max-width: 991px) {
				font-size: 16px;
				line-height: 29px;
			}
		}
	}

	&__button-icon {
		align-items: center;
		display: flex;

		a {
			padding: 0;
			color: var(--theme-secondary-color);

			i {
				margin-left: 10px;
			}

			&:hover i {
				margin-left: 15px;
			}
		}
	}

	&__post-image {
		text-align: center;
		padding-top: 40px;

		img {
			border-radius: 25px;
		}
	}
}
