{% assign navigation = site.data.navigation %}
{% assign c = "c-header" %}
 
<div class="{{c}} 
			fixed-top">
	<div class="navbar 
				{{c}}__navbar 
				navbar-expand-lg 
				mainmenu">
		<div class="container">
			{% if site.data.general.logo_image and site.data.general.logo_image != "" %}
				<a class="navbar-brand 
						  {{c}}__navbar-brand" 
				   href="/">
				   <img src="{{ site.data.general.logo_image }}" 
				   		alt="logo" 
				   		class="img-fluid">
				</a>
			{% endif %}

			{% if navigation.show_login_options %}
				<div class="{{c}}__header-widget 
							order-lg-2 
							d-none 
							d-md-block">
					{% if navigation.login_url and navigation.login_url != "" %}
						<a class="btn 
								  btn-link 
								  {{c}}__login" 
						   href="{{ navigation.login_url }}">Login</a>
					{% endif %}
					{% if navigation.signup_url and navigation.signup_url != "" %}
						<a class="btn 
								  {{c}}__sign-up" 
						   href="{{ navigation.signup_url }}">Sign up</a>
					{% endif %}
				</div>
			{% endif %}

			<!-- navbar toggler icon -->
			<button onclick="navbartoggle(this)" 
					class="{{c}}__mobile-nav-button 
						  navbar-toggler" 
					type="button" 
					data-toggle="collapse" 
					data-target="#navbarNavDropdown" 
					aria-controls="navbarNavDropdown" 
					aria-expanded="false" 
					aria-label="Toggle navigation">
				<span>
					<div class="{{c}}__toggle-bar1"></div>
					<div class="{{c}}__toggle-bar2"></div>
					<div class="{{c}}__toggle-bar3"></div>
				</span>
			</button>

			<!-- Main navigation -->
			<nav class="collapse 
						navbar-collapse 
						justify-content-center" 
				 id="navbarNavDropdown">
				<ul class="navbar-nav 
						   {{c}}__navbar-nav">
					{% for level1 in navigation.menu %}
						{% if level1.option %}
							<li class="dropdown">
								<a class="nav-link 
										  {{c}}__nav-link 
										  dropdown-toggle 
										  {% if page.path == "index.html" and level1.url == "/" %}active{% endif %} 
										  {% if level1.url == page.permalink %}active{% endif %}" 
								   data-toggle="dropdown" 
								   href="{{ site.data.general.site_info.url }}{{ level1.url }}">{{ level1.title }}</a>
								<ul class="dropdown-menu">
									{% for level2 in level1.option %}
										{% if level2.option %}
											<!-- 1st level dropdown menu  -->
											<li class="dropdown">
												<a class="dropdown-toggle"
												   href="{{ site.data.general.site_info.url }}{{ level2.url }}" 
												   data-toggle="dropdown">{{ level2.title }}</a>
												<ul class="dropdown-menu">
													{% for level3 in level2.option %}
														<!-- 2nd level drop-down menu -->
														<li>
															<a href="{{ site.data.general.site_info.url }}{{ level3.url }}">{{ level3.title }}</a>
														</li>
													{% endfor %}
												</ul>
											</li>
										{% else %}
											<li>
												<a href="{{ site.data.general.site_info.url }}{{ level2.url }}">{{ level2.title }}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li>
								<a class="nav-link 
										  {{c}}__nav-link 
										  {% if page.path == "index.html" and level1.url == "/" %}active{% endif %} 
										  {% if level1.url == page.permalink %}active{% endif %}" 
								   href="{{ site.data.general.site_info.url }}{{ level1.url }}">{{ level1.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				{% if navigation.show_login_options %}
					<div class="ml-3 
								d-md-none 
								d-lg-none">
						{% if navigation.login_url and navigation.login_url != "" %}
							<!-- login link -->
							<a class="btn 
									  {{c}}__header-login" 
							   href="{{ navigation.login_url }}">Login</a>
						{% endif %}
						<br>
						{% if navigation.signup_url and navigation.signup_url != "" %}
							<!-- signup link -->
							<a class="btn 
									  header-sign-up 
									  {{c}}__secondary-signup" 
							   href="{{ navigation.signup_url }}">Sign up</a>
						{% endif %}
					</div>
				{% endif %}
			</nav>
		</div>
	</div>
</div>

<div class="{{c}}__header-height"></div>
<!-- header section ends -->
