{% if include.layout == "image_right" %}
	{% assign image_order = "order-2" %}
	{% assign content_order = "order-1" %}
{% endif %}

{% if include.layout == "image_left" %}
	{% assign image_order = "order-1" %}
	{% assign content_order = "order-2" %}
{% endif %}

{% assign c = "c-testimonials" %}

<div class="container 
			{{c}}">
	<div class="{{c}}__heading-wrapper">
		{% if include.caption_title and include.caption_title != "" %}
			<div class="{{c}}__caption-title">
				<h4>
					<span class="pr-3">{{ include.caption_title }}</span>
				</h4>
			</div>
		{% endif %}

		{% if include.main_title and include.main_title != "" %}
			<div class="{{c}}__title">
				<div class="row 
							justify-content-between">
					<div class="col-md-6">
						<h2>
							{{ include.main_title }}
						</h2>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		{% endif %}
	</div>


	<div class="row 
				justify-content-between">
		{% if include.image and include.image != "" %}
			<div class="col-md-7 
						{{ image_order }} 
						mb-4">
				<div class="{{c}}__main-image" 
					 style="background-image:url('{{ include.image }}')">
					<img class="img-fluid 
								{{c}}__quote-image" 
						 src="/assets/images/homepage/quote-img.png" 
						 alt="{{ include.image_alt }}" />
				</div>
			</div>
		{% endif %}

		<div class="col-md-4 
					{{ content_order }}">
			<div class="{{c}}__content">
				{% if include.content_heading and include.content_heading != "" %}
					<div class="{{c}}__testimonial-heading">
						<h2>{{ include.content_heading }} </h2>
					</div>
				{% endif %}

				{% if include.content_html and include.content_html != "" %}
					<div class="{{c}}__testimonial-content">
						<p>{{ include.content_html }}</p>
					</div>
				{% endif %}

				{% if include.author_name and include.author_name != "" %}
					<div class="{{c}}__testimonial-name">
						<h4>{{ include.author_name }}</h4>

						{% if include.author_designation and include.author_designation != "" %}
							<p class="{{c}}__testimonial-designation">{{ include.author_designation }}</p>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
