<!-- feature blog version 1.0.0 -->
{% assign hero_layout = include.hero_layout | slugify %}
{% if hero_layout == "image-right" %}
{% assign content_order = "order-lg-1" %}
{% assign image_order = "order-lg-2" %}
{% endif %}

{% if hero_layout == "image-left" %}
{% assign content_order = "order-lg-2" %}
{% assign image_order = "order-lg-1" %}
{% endif %}

{% assign mobile_image_order = include.mobile_image_order | slugify %}
{% if mobile_image_order == "bottom" %}
{% assign mobile_content_order = "order-1" %}
{% assign mobile_image_order = "order-2" %}
{% endif %}

{% if mobile_image_order == "top" %}
{% assign mobile_content_order = "order-2" %}
{% assign mobile_image_order = "order-1" %}
{% endif %}

{% if mobile_image_order == null and hero_layout == "image-left" %}
{% assign content_order = "order-2" %}
{% assign image_order = "order-1" %}
{% endif %}

{% assign vertical_alignment = include.vertical_alignment | slugify %}
{% if vertical_alignment == "top" %}
{% assign vertical_alignment = "align-self-start" %}
{% endif %}

{% if vertical_alignment == "center" %}
{% assign vertical_alignment = "align-self-center" %}
{% endif %}

{% if vertical_alignment == "bottom" %}
{% assign vertical_alignment = "align-self-end" %}
{% endif %}

{% assign c = "c-featured-blog-post" %}

<section class="{{c}}">
	{% assign width = include.component_width | slugify %}
	<div class="{% if width == "normal" %}
					container
				{% else %}
					container-fluid
				{% endif %}">
		<div class="row">

			{% assign featured_posts = site.posts | where_exp:"post", "post.featured == true" %}
			{% assign sorted_posts = featured_posts | sort: date | reverse %}
			{% for post in sorted_posts limit: 1 %}
				<div class="col-lg-6 
							col-md-12 
							{{ content_order }} 
							{{ mobile_content_order }} 
							{{ vertical_alignment }} 
							{{c}}__content-column">
					{% if include.display_title %}
						<div class="{{c}}__feature-blog-title">
							<a href="{{ post.permalink }}">
								<h2>{{ post.title }}</h2>
							</a>
						</div>
					{% endif %}

					{% if include.display_description %}
						<div class="{{c}}__feature-blog-description">
							<p>{{ post.excerpt }}</p>
						</div>
					{% endif %}

					<div class="{{c}}__button">
						<div class="{{c}}__button-icon">
							<a href="{{ post.permalink }}" class="btn" role="button">
								Read article <i class="fas fa-long-arrow-alt-right"></i>
							</a>
						</div>
					</div>
				</div>

				{% if include.display_image %}
					<div class="col-lg-6 
								col-md-12 
								{{ image_order }} 
								{{ mobile_image_order }} 
								{{ vertical_alignment }} 
								{{c}}__post-image 
								{{c}}__content-column">
						<a href="{{ post.permalink }}">
							<img class="img-fluid" src="{{ post.image }}" alt="{{ post.title }}" />
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
