{% assign c = "c-trending-posts" %}

<section class="{{c}}">
	<div class="container">
		<h2 class="{{c}}__title">
			{% if include.trending_title %}
				{{ include.trending_title }}
			{% else %}
				Trending
			{% endif %}
		</h2>

		<div class="row">
			{% assign i = 0 %}
			{% for post in site.posts %}
				{% if post.trending %}
					<div class="col-md-4">
						<div class="{{c}}__posts">
							<div class="{{c}}__image-wrapper">
								{% if include.trending_post_image_url %}
									<a href="{{ post.permalink }}">
										<div class="{{c}}__image" 
											 {% if include.trending_post_image %} 
											 	style="background-image: url('{{ post.image }}');" 
											 {% endif %}>
										</div>
									</a>
								{% else %}
									<div class="{{c}}__image" 
										 {% if include.trending_post_image %} 
										 	style="background-image: url('{{ post.image }}');" 
										 {% endif %}>
									</div>
								{% endif %}
							</div>
							<div class="{{c}}__content">
								{% if include.trending_post_tag %}
									<p class="{{c}}__post-tags">{{ post.tag }}</p>
								{% endif %}
								{% if include.trending_post_title %}
									<h6 class="{{c}}__post-title">
										{% if include.trending_post_title_url %}
											<a href="{{ post.permalink }}">
												{{ post.title }}
											</a>
										{% else %}
											{{ post.title }}
										{% endif %}
									</h6>
								{% endif %}

								{% if include.trending_post_date %}
									<p class="{{c}}__post-date">{{ post.date | date_to_string }}</p>
								{% endif %}
							</div>
						</div>
					</div>
					{% assign i = i | plus: 1 %}
					{% if i == include.total_posts_in_number %}
						{% break %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
