.l-team-member {
	padding: 50px 0;

	&__profile-image {
		margin: auto;
		margin-bottom: 15px;
		width: 160px;
		height: 160px;
		border-radius: 50%;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__social-share {
		text-align: center;
		margin-bottom: 35px;

		img {
			margin: 0 10px;
		}
	}

	&__content {
		@media only screen and (max-width: 768px) {
			h1 {
			 text-align: center;
		 }
			h3 {
			 text-align: center;
		 }
		}
	}


}
