{% assign c = "c-call-to-action" %}

<div class="{{c}}">
	<div class="container">
		<div class="{{c}}__inner">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="{{c}}__content">
						{% if include.heading and include.heading != "" %}
							<h3>{{ include.heading }}</h3>
						{% endif %}

						{% if include.lower_text_html and include.lower_text_html != "" %}
							<p>{{ include.lower_text_html }}</p>
						{% endif %}
					</div>
					{% if include.button_label and include.button_label != "" %}
						<div class="{{c}}__button">
							<a href="{{ include.button_url }}" class="btn" role="button">{{ include.button_label }}</a>
						</div>
					{% endif %}
				</div>
				<div class="col-md-2"></div>
			</div>

			{% for i in (1..19) %}
				<span></span>
			{% endfor %}
		</div>
	</div>
</div>
