{% if include.columns == '2' %}
	{% assign columns = 6 %}
	{% assign columns = columns | prepend: "col-md-" %}
{% elsif include.columns == '3' %}
	{% assign columns = 4 %}
	{% assign columns = columns | prepend: "col-md-" %}
{% else %}
	{% assign columns = 3 %}
	{% assign columns = columns | prepend: "col-md-" %}
{% endif %}

{% if include.alignment == 'left' %}
	{% assign alignment = 'text-left' %}
{% elsif include.alignment == 'center' %}
	{% assign alignment = 'text-center' %}
{% elsif include.alignment == 'right' %}
	{% assign alignment = 'text-right' %}
{% else %}
	{% assign alignment = 'text-left' %}
{% endif %}

{% assign c = "c-team-list" %}

<section class="{{c}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 
						col-md-8">
				{% if include.caption_title or include.main_title or include.description_html %}
					<div class="{{ c }}__content {{ alignment }}">
						{% if include.caption_title and include.caption_title != "" %}
							<h4 class="{{ c }}__caption-title">
								<span class="pr-3">{{ include.caption_title }}</span>
							</h4>
						{% endif %}

						{% if include.main_title and include.main_title != "" %}
							<h1 class="{{ c }}__title">
								{{ include.main_title }}
							</h1>
						{% endif %}

						{% if include.description_html and include.description_html != "" %}
							<div class="{{ c }}__description">
								<p>{{ include.description_html }}</p>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
			<div class="col-lg-6 
						col-md-4"></div>
		</div>

		<div class="{{ c }}__team-members">
			<div class="row 
						mb-5">
				{% for person in site.staff_members limit: include.people_to_display_number %}
					<div class="{{ columns }}">
						<div class="{{ c }}__team-member">
							<div class="{{ c }}__image-wrapper">
								<a href="{{ person.url }}">
									<div class="{{ c }}__image" 
										 style="background-image: url('{{ person.image }}');"></div>
								</a>
							</div>
							<div class="{{ c }}__info-block">
								<a href="{{ person.url }}">
									<h5 class="{{ c }}__name">{{ person.title }}</h5>
								</a>
								<p class="{{ c }}__designation">{{ person.designation }}</p>
								<div class="{{ c }}__social-links">
									{% for social-media in person.social-media %}
										{% if social-media.facebook %}
											<a href="{{ social-media.facebook }}">
												<img class="share-icons" 
													 src="/assets/images/social-share-icon/facebook-icon.png" 
													 alt="facebook-icon" />
											</a>
										{% endif %}
										{% if social-media.linkedin %}
											<a href="{{ social-media.linkedin }}">
												<img class="share-icons" 
													 src="/assets/images/social-share-icon/linkedin-icon.png" 
													 alt="linkedin-icon" />
											</a>
										{% endif %}
										{% if social-media.twitter %}
											<a href="{{ social-media.twitter }}">
												<img class="share-icons" 
													 src="/assets/images/social-share-icon/twitter-icon.png" 
													 alt="twitter-icon" />
											</a>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			{% if include.show_button %}
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="text-center">
							<a class="btn {{ c }}__more-button" 
							   href="/team/" 
							   role="button">See more</a>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			{% endif %}
		</div>
</section>
