.c-social-share-section {
	padding: 20px 0;
	margin-bottom: 20px;

	h6 {
		margin-bottom: 25px;
		color: var(--theme-secondary-color);
	}

	&__social-share {
		i {
			color: #fff;
			font-size: 20px;
			padding: 14px;
			background-color: var(--theme-primary-bgcolor);
			border-radius: 50%;
			margin-right: 10px;
			transition: .5s;

			&:hover {
				background-color: var(--theme-secondary-bgcolor);
			}
		}
	}

	@media only screen and (max-width: 768px) {
		text-align: center;
	}
}
