.c-team-list {
	margin-bottom: 50px;
	padding: 180px 0 50px;
	background-color: var(--theme-primary-color);

	&__content {
		margin-bottom: 100px;
	}

	&__caption-title {
		position: relative;
		color: #fff;
		font-weight: 400;
		letter-spacing: 5px;
		text-transform: uppercase;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 30px;
			height: 1px;
			background-color: #fff;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			width: 30px;
			height: 1px;
			background-color: #fff;
		}

		span {
			padding-left: 50px;
		}
	}

	&__title {
		color: #fff;
	}

	&__description {
		font-size: 18px;
		line-height: 180%;

		p {
			color: #fff;
		}
	}

	&__team-member {
		margin-bottom: 30px;
		border-radius: 20px;
		text-align: center;
		background-color: #fff;
		overflow: hidden;
	}

	&__image-wrapper {
		overflow: hidden;
	}

	&__image {
		height: 365px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition-duration: 0.4s;

		&:hover {
			transform: scale(1.1);
			transition-property: transform;
		}
	}
	
	&__info-block {
		padding: 30px 0;
	}

	&__name {
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 24px;
		line-height: 31px;
		letter-spacing: 0.005em;
	}

	&__designation {
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 25px;
		text-transform: uppercase;
	}

	&__social-links {
		a {
			margin: 0 10px;
		}
	}

	&__more-button {
		padding: 24px 40px;
		border-radius: 10px;
		background-color: var(--theme-secondary-bgcolor);
		transition: 0.3s linear;
		color: #fff;
		font-size: 18px;
		line-height: 120%;
		letter-spacing: 0.01em;

		&:hover {
			background-color: #fff;
			color: var(--theme-secondary-color);
		}
	}
}