<!DOCTYPE html>
<html lang="en">

<head>

  {% assign general_settings = site.data.general %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.title %}
{% capture title  %}
{{page.title}} | {{ general_settings.site_info.site_title }}
{% endcapture %}
{% else %}
{% assign title = general_settings.site_info.site_title %}
{% endif %}


{% if page.description %}
{% assign description = page.description%}
{% else %}
{% assign description = general_settings.site_info.description %}
{% endif %}

{% assign favicon = site.data.menu.logo-favicon-settings.favicon_image %}


<!-- Primary Meta Tags -->
<title>{{ title }}</title>
<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ general_settings.site_info.url }}{{ page.url | remove: ".html" }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{general_settings.site_info.url}}{{ favicon }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ general_settings.site_info.url }}{{ page.url | remove: ".html" }}">
<meta property="twitter:title" content="{{ title }}">
<meta property="twitter:description" content="{{ description }}">
<meta property="twitter:image" content="{{ general_settings.site_info.url }}{{ favicon }}">

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{{ general_settings.schema.type }}",
    "name": "{{ general_settings.schema.name }}",
    "image": "{{ general_settings.site_info.url }}{{ general_settings.schema.image }}",
    "logo": "{{ general_settings.site_info.url }}{{general_settings.schema.logo_image }}",
    "url": "{{ general_settings.site_info.url }}",
  }
</script>
  <!-- favicon -->
  <link rel="icon" href="{{ favicon }}" type="image/png" sizes="16x16">
  <!-- touch-icons -->
  <link rel="shortcut icon" href="{{ favicon }}">
  <link rel="apple-touch-icon-precomposed" href="{{ favicon }}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ favicon }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ favicon }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ favicon }}">
  <!-- fontawesome css -->
  <link rel="stylesheet" href="/assets/css/lib/fontawesome/all.css" type="text/css" media="screen" />
  <!-- google fonts -->
  {% if general_settings.font %}
  {% for fonts in general_settings.font %}
  <link href="{{ fonts.font_style_url }}" rel="stylesheet">
  {% endfor %}
  {% endif %}
  <!-- bootstrap jquery -->
  <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
  <!-- main css -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
</head>
