{% assign post_layout = include.post_layout %}

{% if post_layout == "left-sidebar" %}
	{% assign left_column_order_class = "order-lg-2 order-1" %}
	{% assign right_column_order_class = "order-lg-1 order-2" %}
{% elsif post_layout == "right-sidebar" %}
	{% assign left_column_order_class = "order-1" %}
	{% assign right_column_order_class = "order-2" %}
{% elsif post_layout == "full-width" %}
	{% assign right_column_order_class = "" %}
{% else %}
	{% assign right_column_order_class = "" %}
{% endif %}

{% assign l = "l-post-content-section" %}

<section class="{{l}}">
	<div class="container">
		<div class="{{l}}">
			{% if page.feature-image %}
				<div class="{{l}}__post-image" 
					 style="background-image: url('{{ page.feature-image }}');"></div>
			{% else %}
				<div class="{{l}}__post-image" 
					 style="background-image: url('{{ page.image }}');"></div>
			{% endif %}

			<div class="row">
				
				<div class="{% if post_layout == "full-width" %}
								col-12 
								{{ left_column_order_class }} 
								{{l}}__post-full-width
							{% else %}
								col-lg-8 
								col-md-12 
								{{ left_column_order_class }}
							{% endif %}">
					<h1 class="{{l}}__post-title">{{ page.title }}</h1>
					<div class="{{l}}__content">
						{{ content }}
					</div>
				</div>

				<div class="{% if post_layout == "full-width" %}
								col-md-12 
								{% if include.post_settings.author_details and include.post_settings.social_share %}
									row
								{% endif %}
							{% else %}
								col-lg-4 
								col-md-12 
								{{ right_column_order_class }}
							{% endif %}">

					{% if include.post_settings.author_details %}
						{% if page.author %}
							{% for team in site.team %}
								{% if team.title == page.author %}
									<div class="{{l}}__author-details 
												{% if post_layout == "full-width" %}
													{% if include.post_settings.author_details and include.post_settings.social_share %}
														col-md-6
													{% endif %}
												{% endif %}">
										<div class="row">
											<div class="col-md-4">
												<div class="{{l}}__author-image-wrapper">
													<div class="{{l}}__author-image-frame">
														<div class="{{l}}__author-image" 
															 style="background-image: url('{{ team.image }}"></div>
													</div>
												</div>
											</div>

											<div class="col-md-8">
												<div class="{{l}}__author-detail">
													<h6>Written by:</h6>
													<h4>{{ team.title }}</h4>
													<p>{{ team.content }}</p>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endif %}

					{% if include.post_settings.social_share %}
						<div class="{% if post_layout == "full-width" %}
										{% if include.post_settings.author_details and include.post_settings.social_share %}
											col-md-6
										{% endif %}
									{% else %}
										row
									{% endif %}">
							{% if post_layout == "full-width" %}
								{% include social-share-buttons.html %}
							{% else %}
								{% if page.author and include.post_settings.author_details %}
									<div class="col-md-4"></div>
									<div class="col-md-8">{% include social-share-buttons.html %}</div>
								{% else %}
									<div class="col-md-12">
										{% include social-share-buttons.html %}
									</div>
								{% endif %}
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>