<!-- social-share-buttons 1.0.0 -->

{% assign social_share_settings = site.data.blog %}

{% assign i = "social-share-section" %}
{% if social_share_settings.portfolio_settings.portfolio_social_share or social_share_settings.post_settings.post_social_share %}
<div class="{{i}}">
  <h6>Share article:</h6>
  <div class="{{i}}__social-share">
    <!-- linkedin share button -->
    <span><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.data.general.site_info.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.data.general.site_info.site_title }}" target="_blank"><i class="fab fa-linkedin-in social-icon"></i></a></span>
    <!-- twitter share button -->
    <span> <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.data.general.site_info.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="fab fa-twitter social-icon"></i></a></span>
    <!-- instagram share button -->
    <span><a href="#"><i class="fab fa-instagram"></i></a></span>
  </div>
</div>
{% endif %}
